<h1>글 목록</h1>

<table class="table table-bordered mt-2">
    <thead class="table-light">
            {% if post_list %}
            <tr>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
        </thead>
<tbody>
    {% for post in post_list %}
    <tr>
        <td>
            <a href="{% url 'reading_blog:post_detail' pk=post.pk %}" class="btn">{{ post.title }}</a>
            {% if post.comments.count > 0 %}
            <span class="text-success small ml-2">{{ post.comments.count }}</span>
            {% endif %}
        </td>
        <td>{{ post.author.username }}</td>
        <td>{{ post.created_at|date:"Y.m.d" }}</td>
        <td>{{post.view_count}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% else %}
<p>작성된 게시글이 없습니다.</p>
{% endif %}

<form action="" method="GET">
    <input type="text" name="q" value="{{ request.GET.q }}">
    <input type="submit" value="검색">
</form>

<a href="{% url 'main:index' %}">메인</a>
<a href="{% url 'reading_blog:post_new' %}">글작성</a>
{% if user.is_authenticated %}
<a href="{% url 'accounts:logout' %}">로그아웃</a>
{% endif %}