<p>{{post.title}}</p>
<p>{{ post.author.username }} | {{ post.created_at|date:"Y.m.d" }} | 조회수: {{post.view_count}}</p>
<p>{{post.content}}</p>

<p>태그: 
    {% for tag in post.tags.all %}
        <a href="{% url 'reading_blog:posttag' tag.name %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    </p>

{% if post.file_upload %}
<video src="{{post.file_upload.url}}" controls></video>
{% endif %}
{% if post.image_upload %}
<img src="{{post.image_upload.url}}" controls></img>
{% endif %}

<hr>
<section>
    <h3>댓글</h3>
    <ul class="detail-comments">
        {% for comment in post.comments.all %}
        <li class="user-comment"> {{ comment.message }} <br> {{ comment.author }} {{ comment.created_at|date:"Y.m.d" }}
        </li>
        {% endfor %}
    </ul>
    {% if post.comments.all.count < 1 %}
    <p>댓글이 없습니다.</p>
    {% endif %}
</section>

<section>
    <form action="{% url 'reading_blog:comment_new' post.pk %}" method="post">
        {% csrf_token %}
        <label for="{{ comment_form.message.id_for_label }}"></label>
        {{ comment_form.message }}
        <input type="submit" value="댓글 등록">
    </form>
</section>

<a href="{% url 'reading_blog:post_list' %}">목록</a>
{% if user == post.author %}
<a href="{% url 'reading_blog:post_edit' post.pk %}">수정</a>
<a href="{% url 'reading_blog:post_delete' post.pk %}">삭제</a>
{% endif %}
